<p-card [style]="{ 'border-radius': '10px' }">
  <ng-template pTemplate="header">
    <div class="container-row">
      <div class="row">
        <p-avatar *ngIf="avatarUrl !== ''" [image]="avatarUrl" styleClass="mr-2" size="large" shape="circle"></p-avatar>
        <p-avatar *ngIf="avatarUrl == ''" icon="pi pi-user" styleClass="mr-2" size="large" shape="circle"></p-avatar>
        <div class="col" style="margin-left: 1rem">
          <strong style="margin: 0; padding: 0; line-height: 1;">{{ avatarName }}</strong>
          <p style="margin: 0; padding: 0; line-height: 1;">{{ topTitle }}</p>
          <p style="margin: 0; padding: 0; line-height: 1;">{{ bottomTitle }}</p>
        </div>
      </div>
      <div class="row">
        <p-button label="Follow" icon="pi pi-plus" styleClass="p-button-info p-button-text"></p-button>
        <i class="pi pi-ellipsis-h" style="margin: 0.5rem;"></i>
      </div>
    </div>
  </ng-template>

  <app-typewriter class="wrapped-paragraph" style="height: 100%; width: 75%" textToShow="{{ bodyContent }}"></app-typewriter> 
  
  <ng-template pTemplate="footer">
    <p-divider></p-divider>
    <div class="footer-links">
      <p-avatar *ngIf="avatarUrl !== ''" [image]="avatarUrl" styleClass="mr-2" size="medium" shape="circle"></p-avatar>
        <p-avatar *ngIf="avatarUrl == ''" icon="pi pi-user" styleClass="mr-2" size="medium" shape="circle"></p-avatar>
      <p-button label="Like" icon="pi pi-thumbs-up" styleClass=" p-button-secondary p-button-text"></p-button>
      <p-button label="Comment" icon="pi pi-comment" styleClass="p-button-secondary p-button-text"></p-button>
      <p-button label="Repost" icon="pi pi-spinner" styleClass="p-button-secondary p-button-text"></p-button>
      <p-button label="Share" icon="pi pi-share-alt" styleClass="p-button-secondary p-button-text"></p-button>
    </div>
    <p-divider></p-divider>
  </ng-template>
</p-card>
