<div [formGroup]='formGroup' class="flex-container">
  <div class="header">
    <span class="header-icon">
      <i class="pi pi-book"></i>
    </span>
    <input placeholder='Type your title...' class="header-input" type="text" pInputText formControlName="title"/>
  </div>
  <div *ngIf="createMode == 'youtube'">
    <h3 class="section-header">Youtube Video</h3>
    <div class="header">
      <span class="header-icon">
        <i class="pi pi-youtube"></i>
      </span>
      <input placeholder='Paste your link...' class="header-input" type="text" pInputText formControlName="url"/>
    </div>
  </div>
  <div *ngIf="createMode == 'zoom'">
    <h3 class="section-header">Zoom Recordings</h3>
    <div class="header">
      <span class="header-icon">
        <i class="pi pi-youtube"></i>
      </span>
      <p-dropdown placeholder='Pick a past call' formControlName="recordingId" [options]="recordings" optionLabel="label"></p-dropdown>
    </div>
  </div>

  <div *ngIf="showVideoInfo" class="video-info">
    <div class="image-container">
      <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="100"></p-image>
    </div>
    <div class="video-details">
      <h4>Temporary Title</h4>
      <p>Temporary Description</p>
    </div>
  </div>

  <div *ngIf="!showVideoInfo" class="row">
    <p-skeleton width="100px" height="100px"></p-skeleton>
    <div style="flex-direction: column; align-items: flex-start; margin-left: 6px; justify-content: space-between;">
      <div class="flex-item" >
        <p-skeleton width="200px" height="2rem" styleClass="mb-2"></p-skeleton>
      </div>
      <div class="flex-item">
        <p-skeleton styleClass="mb-2"></p-skeleton>
      </div>
      <div class="flex-item">
        <p-skeleton styleClass="mb-2"></p-skeleton>
      </div>
    </div>
  </div>

  <div class="output-type">
    <p-splitButton label="Generate New Content" icon="pi pi-plus" (onClick)="submitForContent()" [model]="items"></p-splitButton>
  </div>
</div>
