/* Flex container */
.flex-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

/* Header section */
.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.header-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.header-input {
  flex: 1;
  width: 100%;
}

/* Section header */
.section-header {
  margin-top: 1rem;
}

/* Video info section */
.video-info {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.image-container {
  height: 100%;
}

.image-container p-image {
  width: 100%;
  margin: 0.5rem;
  height: 100%
}

.video-details {
  flex: 1;
  margin-left: 1rem;
}

/* Loading info section */
.loading-info {
  display: flex;
  align-items: center;
}

.loading-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 6px;
  justify-content: space-between;
}

.loading-item {
  margin-bottom: 1rem;
}

/* Output type section */
.output-type {
  width: 100%;
}

/* Dropdown */
.p-dropdown {
  width: 100%;
}

/* Flex container */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  flex-direction: column;
}

/* Flex item */
.flex-item {
  flex: 1;
  margin-bottom: 1rem;
}

/* Input with icon */
.p-input-icon-left .p-inputtext {
  width: 100%;
}

/* Image section */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Image */
.p-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* Image details */
.row > div:last-child {
  flex: 1;
  margin-left: 1rem;
  margin-top: 1rem;
}

/* Output Type section */
.form-group {
  width: 100%;
}

/* Dropdown */
.p-dropdown {
  width: 100%;
}


