<p-accordion  *ngIf="promptForZoom" [style]="{ 'margin-bottom': '1rem', 'background-color': '#D32F2F', 'border-radius': '10px'}">
  <p-accordionTab>
    <ng-template pTemplate="header">
      <div class="flex align-items-center">
          <i class="pi pi-exclamation-circle mr-2" style="margin-right: 8px"></i>
          <span class="vertical-align-middle">Turn Calls & Meetings Into Content</span>
      </div>
  </ng-template>
    <p>You are not authenticated with Zoom. Click to connect your Zoom account to get started turning meetings into your own personal brand.</p>
    <p-button label="Connect Zoom" (click)="onZoomConnectClick()"></p-button>
  </p-accordionTab>
</p-accordion>
<p-accordion  *ngIf="promptOnboarding" [style]="{ 'margin-bottom': '1rem', 'background-color': '#D32F2F', 'border-radius': '10px'}">
  <p-accordionTab>
    <ng-template pTemplate="header">
      <div class="flex align-items-center">
          <i class="pi pi-exclamation-circle mr-2" style="margin-right: 8px"></i>
          <span class="vertical-align-middle">Ai That Sounds Just Like You</span>
      </div>
  </ng-template>
    <p>👋 Welcome to Yoni AI. You're about to experience personalized content creation like never before. But first, we need to get acquainted.</p>
    <p>Share some insights about you and your business, and we'll train our AI to emulate your unique style and voice.</p>
    <p>Ready to elevate your brand? Let's get started.</p>
    <br>
    <app-persona></app-persona>
  </p-accordionTab>
</p-accordion>

<div *ngFor="let root of generatorsList" class="grid-container">
  <h1>{{ root.header }}</h1>
  <div class="grid" fxLayout="column wrap" fxLayout.xs="column" fxLayout.gt-xs="column wrap">
    <p-card 
      *ngFor="let item of root.items"
      (click)="itemClick(item.type)"  
      class="split-card" header="{{ item.title }}" 
      [style]="{ margin: '8px' }">
      <p class="m-0">{{ item.description }}</p>
    </p-card>
  </div>
</div>

<footer>
  <div class="footer-links">
    <a (click)="onTermsClick('terms')">Terms</a>
    <p> | </p>
    <a (click)="onTermsClick('privacy')">Privacy</a>
    <p> | </p>
    <a href="#">Contact Us</a>
    <br/>
  </div>
  <p class="footer-links">© 2021 Flight Deprived, LLC. - All Rights Reserved</p>
</footer>

<p-dialog header="Voice to Viral Content" [(visible)]="showVoiceDialog" [style]="{ width: '50vw' }">
  <div style="text-align:center;margin-top: 1rem;" >
    <p-toggleButton #toggleButton
      [(ngModel)]="recording" 
      onLabel="Stop" 
      offLabel="Record" 
      styleClass="p-button-rounded p-button-lg"
      label="Large">
    </p-toggleButton>
      <!-- <button (click)="initiateRecording()" class="btn btn-primary" *ngIf="!recording" style="cursor: pointer;background-color: green;color: white;font-size: 40px;"> Start Recording </button>
      <button (click)="stopRecording()" class="btn btn-danger" *ngIf="recording" style="cursor: pointer;background-color: red;color: white;font-size: 40px;"> Stop Recording </button>
      <audio controls="" *ngIf="url">
      <source [src]="sanitize(url)" type="audio/wav">
      </audio> -->
    </div>
</p-dialog>
