<h1>Facebook Page</h1>
<div style="display: flex; flex-direction: row;">
  <p-card class="split-card" header="Youtube to Post" [style]="{ background: '#1f2937', margin: '8px' }">
    <div (click)="videotofb()">
      <p class="m-0">Just type in a topic or idea and we will build on it. Making sure each post is relevant to your
        input.</p>
    </div>
  </p-card>
  <p-card class="split-card" header="Video Upload to Post" [style]="{ background: '#1f2937', margin: '8px' }">
    <div (click)="videotofb()">
      <p class="m-0">Just type in a topic or idea and we will build on it. Making sure each post is relevant to your
        input.</p>
    </div>
  </p-card>
  <p-card class="split-card" header="Webpage to Post" [style]="{ background: '#1f2937', margin: '8px' }">
    <div (click)="videotofb()">
      <p class="m-0">Just type in a topic or idea and we will build on it. Making sure each post is relevant to your
        input.</p>
    </div>
  </p-card>
</div>

<h1>Emails</h1>
<div style="display: flex; flex-direction: row; filter: blur(2px);">
  <p-card class="split-card" header="Youtube to Sales Email" [style]="{ background: '#1f2937', margin: '8px' }">
    <div (click)="videotofb()">
      <p class="m-0">Just type in a topic or idea and we will build on it. Making sure each post is relevant to your
        </p>
    </div>
  </p-card>
  <p-card class="split-card" header="Video Upload to Short" [style]="{ background: '#1f2937', margin: '8px' }">
    <div (click)="videotofb()">
      <p class="m-0">in a topic or idea and we will build on it. Making sure each post is relevant to your
        input.</p>
    </div>
  </p-card>
  <p-card class="split-card" header="Webpage to Post" [style]="{ background: '#1f2937', margin: '8px' }">
    <div (click)="videotofb()">
      <p class="m-0">Just type in a topic or idea and we will build on it. Making sure each post is relevant to your
        input.</p>
    </div>
  </p-card>
</div>

<h1>LinkedIn</h1>
<div style="display: flex; flex-direction: row; filter: blur(2px);">
  <p-card class="split-card" header="Youtube to Article Post" [style]="{ background: '#1f2937', margin: '8px' }">
    <div (click)="videotofb()">
      <p class="m-0">Just type in a topic or idea and we will build on it. Making sure each post is relevant to your
        input.</p>
    </div>
  </p-card>
  <p-card class="split-card" header="Video Upload to Image" [style]="{ background: '#1f2937', margin: '8px' }">
    <div (click)="videotofb()">
      <p class="m-0">Just type in a topic or idea and we will build on it. Making sure each post is relevant to your
        input.</p>
    </div>
  </p-card>
  <p-card class="split-card" header="Webpage to Affiliate" [style]="{ background: '#1f2937', margin: '8px' }">
    <div (click)="videotofb()">
      <p class="m-0">Just type in a topic or idea and we will build on it. Making sure each post is relevant to your
        input.</p>
    </div>
  </p-card>
</div>

<h1>Twitter</h1>
<div style="display: flex; flex-direction: row; filter: blur(2px);">
  <p-card class="split-card" header="Youtube to Tweet Storm" [style]="{ background: '#1f2937', margin: '8px' }">
    <div (click)="videotofb()">
      <p class="m-0">Just type in a topic or idea and we will build on it. Making sure each post is relevant to your
        input.</p>
    </div>
  </p-card>
  <p-card class="split-card" header="Video Upload to Hit" [style]="{ background: '#1f2937', margin: '8px' }">
    <div (click)="videotofb()">
      <p class="m-0">Just type in a topic or idea and we will build on it. Making sure each post is relevant to your
        input.</p>
    </div>
  </p-card>
  <p-card class="split-card" header="Webpage to Long Post" [style]="{ background: '#1f2937', margin: '8px' }">
    <div (click)="videotofb()">
      <p class="m-0">Just type in a topic or idea and we will build on it. Making sure each post is relevant to your
        input.</p>
    </div>
  </p-card>
</div>

<h1>Medium Blog</h1>
<div style="display: flex; flex-direction: row; filter: blur(2px);">
  <p-card class="split-card" header="Youtube to Long Post" [style]="{ background: '#1f2937', margin: '8px' }">
    <div (click)="videotofb()">
      <p class="m-0">Just type in a topic or idea and we will build on it. Making sure each post is relevant to your
        input.</p>
    </div>
  </p-card>
  <p-card class="split-card" header="Video Upload to Short" [style]="{ background: '#1f2937', margin: '8px' }">
    <div (click)="videotofb()">
      <p class="m-0">Just type in a topic or idea and we will build on it. Making sure each post is relevant to your
        input.</p>
    </div>
  </p-card>
  <p-card class="split-card" header="Webpage to Full" [style]="{ background: '#1f2937', margin: '8px' }">
    <div (click)="videotofb()">
      <p class="m-0">Just type in a topic or idea and we will build on it. Making sure each post is relevant to your
        input.</p>
    </div>
  </p-card>
</div>
