.grid-container {
  display: flex;
  flex-direction: column;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: start; /* Adjust as needed for spacing */
}

.split-card {
  width: calc(33% - 16px); /* 50% width minus margin */
  margin: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .split-card {
    width: 100%; 
    margin: 8px;
  }
}
