.row {
  display: flex;
  flex-direction: row;
}

.col-4 {
  flex-basis: calc(40%);
  max-width: calc(40%);
  margin: 0.5rem;
}

.col-6 {
  flex-basis: calc(60%);
  max-width: calc(60%);
  margin: 0.5rem;
}
