<strong *ngIf="content == ''">
  👈 To get started, just go to the left and drop in a youtube link then click submit.
</strong>
<p-panel *ngIf="content !=''">
  <ng-template pTemplate="header">
      <form [formGroup]="formGroup">
      <span class="flex-item p-input-icon-left row">
        <i class="pi pi-bolt"></i>
        <input 
        style="width: 350px"
        placeholder='Type to enhance then press Enter ⏎' 
        class="flex-item" 
        type="text" 
        pInputText 
        formControlName="enhance"
        pTooltip="Press Enter ⏎ to Apply" tooltipPosition="left"/>
      </span>
      <p-dropdown placeholder='Sounds like...' formControlName="influencer" [options]="influencerOptions" optionLabel="label"></p-dropdown>
      <p-dropdown placeholder='Include a...' formControlName="control" [options]="controlOptions" optionLabel="label"></p-dropdown>
      <p-button 
      icon="pi pi-question-circle" 
      styleClass="p-button-rounded p-button-danger p-button-text"
      pTooltip="Learn how our AI works" tooltipPosition="bottom"></p-button>
    </form>
    </ng-template>
    <p-scrollPanel [style]="{ width: '100%', height: '100vh' }">
      {{ content }}
    </p-scrollPanel>
    <ng-template pTemplate="footer"> Footer content here </ng-template>
</p-panel>

