<p-panel #pnl [style]="{ 'height': '100vh' }">
  <ng-template pTemplate="header">
    <form [formGroup]="formGroup" class="row">
      <span class="flex-item p-input-icon-left row">
        <i class="pi pi-bolt"></i>
        <input style="width: 350px" placeholder='Type to enhance then press Enter ⏎' class="flex-item" type="text"
          pInputText formControlName="enhance" pTooltip="Press Enter ⏎ to Apply" tooltipPosition="left" />
      </span>
      <p-dropdown placeholder='Sounds like...' formControlName="influencer" [options]="influencerOptions"
        optionLabel="label"></p-dropdown>
      <p-dropdown placeholder='Include a...' formControlName="control" [options]="controlOptions"
        optionLabel="label"></p-dropdown>
      <p-button icon="pi pi-question-circle" styleClass="p-button-rounded p-button-danger p-button-text"
        pTooltip="Learn how our AI works" tooltipPosition="bottom"></p-button>
    </form>
  </ng-template>

  <p *ngIf="content != '' && contentLoading == false" [style]="{ width: '100%', height: '100%' }">'
     <app-typewriter style="height: 100%" textToShow="{{ content }}"></app-typewriter> 
  </p>

  <strong style="height: 1000px;" *ngIf="content == '' && contentLoading == false">
    <app-typewriter
      textToShow="👈 To get started, just go to the left and drop in a youtube link then click submit."></app-typewriter>
  </strong>

  <div *ngIf="contentLoading" class="border-round border-1 surface-border p-4 surface-card"
    style="width: 70v2; height: 100vh">
    <div class="flex">
      <div style="flex: 1">
        <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
        <br />
        <p-skeleton width="75%"></p-skeleton>
      </div>
    </div>
    <br/>
    <div class="flex">
      <div style="flex: 1">
        <br />
        <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
        <br />
        <p-skeleton width="75%"></p-skeleton>
      </div>
    </div>
    <div class="flex">
      <div style="flex: 1">
        <br />
        <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
        <br />
        <p-skeleton width="75%"></p-skeleton>
      </div>
    </div>
    <div class="flex">
      <div style="flex: 1">
        <br />
        <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
        <br />
        <p-skeleton width="75%"></p-skeleton>
      </div>
    </div>
    <br />
    <div class="flex">
      <div style="flex: 1">
        <br />
        <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
        <br />
        <p-skeleton width="75%"></p-skeleton>
      </div>
    </div>
    <div class="flex">
      <div style="flex: 1">
        <br />
        <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
        <br />
        <p-skeleton width="75%"></p-skeleton>
      </div>
    </div>
    <br />
    <div class="flex">
      <div style="flex: 1">
        <br />
        <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
        <br />
        <p-skeleton width="75%"></p-skeleton>
      </div>
    </div>
  </div>
</p-panel>
