<p-card>
  <ng-template pTemplate="header">
    <div class="container-row">
      <div class="row">
        <p-avatar *ngIf="avatarUrl !== ''" [image]="avatarUrl" styleClass="mr-2" size="large" shape="circle"></p-avatar>
        <p-avatar *ngIf="avatarUrl == ''" icon="pi pi-user" styleClass="mr-2" size="large" shape="circle"></p-avatar>
        <div class="col" style="margin-left: 1rem">
          <strong style="margin: 0; padding: 0; line-height: 1;">{{ avatarName }}</strong>
        </div>
      </div>
      <div class="row">
        <i class="pi pi-ellipsis-h" style="margin: 0.5rem;"></i>
      </div>
    </div>
  </ng-template>

  <app-typewriter class="wrapped-paragraph" style="height: 100%; width: 75%" textToShow="{{ bodyContent }}"></app-typewriter> 
  
  <ng-template pTemplate="footer">
    <div class="footer-links">
      <p-button label="" icon="pi pi-comment" styleClass="p-button-secondary p-button-text"></p-button>
      <p-button label="" icon="pi pi-spinner" styleClass="p-button-secondary p-button-text"></p-button>
      <p-button label="" icon="pi pi-heart" styleClass=" p-button-secondary p-button-text"></p-button>
      <p-button label="" icon="pi pi-chart-bar" styleClass="p-button-secondary p-button-text"></p-button>
      <p-button label="" icon="pi pi-sign-in" styleClass="p-button-secondary p-button-text"></p-button>
    </div>
  </ng-template>
</p-card>
