<!-- scripts -->
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="https://apis.google.com/js/platform.js?onload=onGoogleLibraryLoad" async defer></script>
<html lang="en">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- scripts -->
<!-- navbar -->
<p-menubar *ngIf="( loggedInObserver$ | async )">
  <ng-template pTemplate="start">
    <div class="horizontal-container">
      <img src="../assets/images/yoni_logo.png" height="50" class="mr-2" />
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="horizontal-container">
    <p-button 
      icon="pi pi-folder"
      styleClass="p-button-rounded p-button-outlined"
      [style]="{'margin-right': '0.5rem'}"
      (click)="onFolderClick()"
      ></p-button>
    <p-avatar
      *ngIf="avatarUrl !== ''" 
      [image]="avatarUrl" 
      styleClass="mr-2" 
      size="large" 
      shape="circle"
      (click)="onSettingsClick()"
    ></p-avatar>
    <p-avatar
      *ngIf="avatarUrl == ''" 
      icon="pi pi-user"
      styleClass="mr-2" 
      size="large" 
      shape="circle"
      (click)="onSettingsClick()"
    ></p-avatar>
    </div>
  </ng-template>
</p-menubar>
<p-breadcrumb 
  *ngIf="( loggedInObserver$ | async )" 
  class="max-w-full" 
  [model]="items" 
  [home]="home"
  [style]="{ 'background-color': 'transparent', 'border': 'none' }"
></p-breadcrumb>
<!-- navbar -->
<!-- MAIN -->
<router-outlet></router-outlet>
<!-- MAIN -->
<!-- footer -->
<footer>
  <div class="footer-links">
    <a (click)="onTermsClick('terms')">Terms</a>
    <p> | </p>
    <a (click)="onTermsClick('privacy')">Privacy</a>
    <p> | </p>
    <a href="#">Contact Us</a>
    <br/>
  </div>
  <p class="footer-links">© 2021 Flight Deprived, LLC. - All Rights Reserved</p>
</footer>
<!-- footer-->
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
