<!-- scripts -->
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="https://apis.google.com/js/platform.js?onload=onGoogleLibraryLoad" async defer></script>
<html lang="en">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- scripts -->
<!-- navbar -->
<p-menubar *ngIf="( loggedInObserver$ | async )">
  <ng-template pTemplate="start">
    <div class="horizontal-container">
      <img src="../assets/images/yoni_logo.png" height="50" class="mr-2" />
    </div>
  </ng-template>
  <ng-template  pTemplate="end">
    <div class="horizontal-container">
      <p-button 
      icon="pi pi-android"
      label="Your AI"
      styleClass="p-button-link"
      (click)="onSettingsClick()"
      ></p-button>
    <p-button 
      label="Library"
      icon="pi pi-youtube"
      styleClass="p-button-link"
      (click)="onFolderClick()"
      ></p-button>
    <p-button 
      label="Settings"
      icon="pi pi-cog"
      styleClass="p-button-link"
      (click)="onSettingsClick()"
      ></p-button>
    </div>
  </ng-template>
</p-menubar>
<p-breadcrumb 
  *ngIf="( loggedInObserver$ | async )" 
  class="max-w-full" 
  [model]="items" 
  [home]="home"
  [style]="{ 'background-color': 'transparent', 'border': 'none' }"
></p-breadcrumb>
<!-- navbar -->
<!-- MAIN -->
<router-outlet></router-outlet>
<!-- MAIN -->
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
